---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Mantenimiento">
  <section
    class="flex min-h-screen w-full flex-col items-center justify-center"
  >
    <h1
      class="mt-8 max-w-3xl text-center font-serif text-6xl font-[350] text-garden-600 lg:text-8xl"
    >
      En construcci칩n
    </h1>

    <p class="mt-4 text-lg font-medium">
      P치gina en construcci칩n, disculpe las molestias. Para mas informaci칩n
      rellena nuestro formulario de contacto.
    </p>

    <div class="mt-10 flex gap-2">
      <a
        href="#contacto"
        class="rounded-full border-2 border-smoke-950 bg-smoke-950 px-6 py-2 font-semibold text-smoke-50 transition-transform hover:scale-110"
        >Contacto</a
      >
      <a
        href="/"
        class="rounded-full border-2 border-smoke-950 px-6 py-2 font-semibold transition-transform hover:scale-110"
        >Inicio</a
      >
    </div>
  </section>
</Layout>
