---
import Layout from "@/layouts/Layout.astro";
import Welcome from "@/sections/Welcome.astro";
import Design from "@/sections/Design.astro";
import Services from "@/sections/Services.astro";
import Reviews from "@/sections/Reviews.astro";
import Gallery from "@/sections/Gallery.astro";
---

<Layout
  title="Jardineria La Mediterrània | Servicios de jardinería"
  description="Transformamos espacios verdes en oasis de belleza y armonía en Garraf, Penedès y Barcelona. Diseño, instalación y mantenimiento de jardines para comunidades, particulares y empresas."
>
  <main class="flex w-full flex-col items-center">
    <Welcome />
    <Services />
    <Design />
    <Gallery />
    <Reviews />
  </main>
</Layout>
