---
import Logotype from "@/assets/Logotype.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="La Mediterrnia Jardineria">
  <main class="flex w-full flex-col items-center">
    <section
      class="mt-36 flex min-h-screen w-full max-w-6xl flex-col items-center justify-center"
    >
      <Logotype class="h-16" />
      <h1
        class="font-serif text-garden-600 mt-8 max-w-3xl text-center text-8xl font-[350]"
      >
        El mejor jardín es el que cuidas
      </h1>

      <div class="mt-32 grid grid-cols-3 gap-8">
        <img
          src="/garden-1.jpg"
          alt="Jardin 1"
          class="aspect-[3/4] w-full rounded-xl object-cover shadow-2xl shadow-black/40"
        />
        <img
          src="/garden-2.jpg"
          alt="Jardin 2"
          class="aspect-[3/4] w-full rounded-xl object-cover shadow-2xl shadow-black/40"
        />

        <div class="flex flex-col gap-8 items-start">
          <p class="text-xl font-medium">
            Lorem ipsum dolor sit amet consectetur. Et semper nibh potenti sed
            volutpat risus ultricies nulla. Aliquam bibendum tincidunt
            suspendisse sed. Elementum et turpis non sit viverra. Amet bibendum
            auctor facilisis quis cursus neque.
          </p>

          <a href="#servicios" class="border-smoke-950 rounded-full border-2 px-6 py-2 font-semibold hover:scale-110 transition-transform">Ver servicios</a>
        </div>
      </div>
    </section>
  </main>
</Layout>
