---
import Layout from "@/layouts/Layout.astro";
import Welcome from "@/sections/Welcome.astro";
import Tips from "@/sections/Tips.astro";
import Services from "@/sections/Services.astro";
import Reviews from "@/sections/Reviews.astro";
---

<Layout title="La Mediterrnia Jardineria">
  <main class="flex w-full flex-col items-center">
    <Welcome />
    <Tips />
    <Services />
    <Reviews />
  </main>
</Layout>
