---
import Whastapp from "@/assets/Whastapp.astro";
import Mail from "@/assets/Mail.astro";
import Instagram from "@/assets/Instagram.astro";
import Tiktok from "@/assets/Tiktok.astro";
---

<section
  id="contacto"
  class="flex w-full justify-center bg-smoke-950 px-4 pb-12 pt-24 text-smoke-50"
>
  <div class="grid w-full max-w-xl gap-8 lg:grid-cols-1">
    <div class="flex w-full flex-col items-center text-center">
      <h2 class="text-2xl font-semibold text-garden-300 lg:text-5xl">
        Contacta con nosotros
      </h2>

      <ul class="flex w-full flex-col items-center">
        <li
          class="flex w-full items-center justify-center border-b border-smoke-400 px-2 py-4"
        >
          <a
            href="https://wa.me/34633443103"
            class="text-md mt-10 flex gap-2 transition-transform hover:scale-110"
          >
            <Whastapp class="size-8" /> 633 443 103
          </a>
        </li>

        <li
          class="flex w-full items-center justify-center border-b border-smoke-400 px-2 py-4"
        >
          <a
            href="mailto:jardineria.lamediterrania@gmail.com"
            class="text-md mt-2 flex gap-2 transition-transform hover:scale-110"
          >
            <Mail class="size-8" /> jardineria.lamediterrania@gmail.com
          </a>
        </li>

        <li class="flex w-full items-center justify-center gap-4 px-2 py-4">
          <a
            href="https://www.instagram.com/jardinerialamediterrania"
            target="_blank"
            rel="nofollow"
            class="text-md mt-2 flex gap-2 transition-transform hover:scale-110"
          >
            <Instagram class="size-8" />
            <span class="sr-only">Instagram</span>
          </a>
          <a
            href="https://www.tiktok.com/@jardineria.lamedi"
            target="_blank"
            rel="nofollow"
            class="text-md mt-2 flex gap-2 transition-transform hover:scale-110"
          >
            <Tiktok class="size-8" />
            <span class="sr-only">Tiktok</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- <form class="flex w-full flex-col items-start gap-4">
      <label class="w-full">
        <fieldset class="w-full rounded-xl border border-smoke-700 p-3">
          <legend class="px-2 text-sm text-smoke-700">Nombre</legend>
          <input
            type="text"
            class="w-full bg-transparent placeholder-smoke-700 outline-none"
            placeholder="Ej. Carlos Garcia"
            required
          />
        </fieldset>
      </label>

      <div class="flex w-full flex-wrap gap-4">
        <label class="w-full lg:grow lg:basis-0">
          <fieldset class="w-full rounded-xl border border-smoke-700 p-3">
            <legend class="px-2 text-sm text-smoke-700">Teléfono</legend>
            <input
              type="tel"
              class="w-full bg-transparent placeholder-smoke-700 outline-none"
              placeholder="Ej. 600 600 600"
            />
          </fieldset>
        </label>

        <label class="w-full lg:grow lg:basis-0">
          <fieldset
            class="w-full rounded-xl border border-smoke-700 p-3 lg:grow lg:basis-0"
          >
            <legend class="px-2 text-sm text-smoke-700">Email</legend>
            <input
              type="email"
              class="w-full bg-transparent placeholder-smoke-700 outline-none"
              placeholder="Ej. carlosg@gmail.com"
              required
            />
          </fieldset>
        </label>
      </div>

      <label class="w-full">
        <fieldset class="w-full rounded-xl border border-smoke-700 p-3">
          <legend class="px-2 text-sm text-smoke-700">Servicio</legend>
          <select
            class="w-full bg-transparent placeholder-smoke-700 outline-none [&>option]:bg-smoke-950"
            required
          >
            <option value="" disabled selected>Selecciona un servicio</option>
            <option value="instalacion">Instalación</option>
            <option value="diseño">Diseño</option>
            <option value="limpieza">Limpieza</option>
            <option value="poda">Poda</option>
            <option value="mantenimiento">Mantenimiento</option>
          </select>
        </fieldset>
      </label>

      <label class="w-full">
        <fieldset class="w-full rounded-xl border border-smoke-700 p-3">
          <legend class="px-2 text-sm text-smoke-700">Ubicacion</legend>
          <input
            type="text"
            class="w-full bg-transparent placeholder-smoke-700 outline-none"
            placeholder="Ej. Vilanova i la Geltrú"
            required
          />
        </fieldset>
      </label>

      <label class="w-full">
        <fieldset class="w-full rounded-xl border border-smoke-700 p-3">
          <legend class="px-2 text-sm text-smoke-700">Mensaje</legend>
          <textarea
            class="min-h-32 w-full resize-none bg-transparent placeholder-smoke-700 outline-none"
            placeholder="Tu mensaje..."
            required></textarea>
        </fieldset>
      </label>

      <button
        type="submit"
        disabled
        class="rounded-full bg-garden-600 px-12 py-3 font-medium text-smoke-50 shadow-lg transition-transform hover:scale-110 cursor-not-allowed"
      >
        Enviar
      </button>
    </form> -->
  </div>
</section>
