---
const { items } = Astro.props;
const seconds = "60s";
const gap = "1rem";
---

<main class="relative flex w-full">
  <span
    class="from-ula-blue absolute bottom-0 left-0 top-0 z-10 hidden w-10 self-stretch bg-gradient-to-r to-transparent md:w-40 xl:inline"
  ></span>

  <ul class="flex shrink-0">
    {
      items.map(({ alt, src }: { src: string; alt: string }) => (
        <li>
          <picture>
            <img
              src={src}
              alt={alt}
              class="w-48 lg:w-96 rounded-2xl shadow-2xl shadow-black/40"
            />
          </picture>
        </li>
      ))
    }
  </ul>
  <ul class="flex shrink-0">
    {
      items.map(({ alt, src }: { src: string; alt: string }) => (
        <li>
          <picture>
            <img
              src={src}
              alt={alt}
              class="w-48 lg:w-96 rounded-2xl shadow-2xl shadow-black/40"
            />
          </picture>
        </li>
      ))
    }
  </ul>

  <span
    class="from-ula-blue absolute bottom-0 right-0 top-0 z-10 hidden w-10 self-stretch bg-gradient-to-l to-transparent md:w-40 xl:inline"
  ></span>
</main>

<style define:vars={{ seconds, gap }}>
  main {
    gap: var(--gap);
  }

  ul {
    animation: marquee var(--seconds) linear infinite;
    gap: var(--gap);
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
</style>
