---
import Isotype from "@/assets/Isotype.astro";

const { pathname } = Astro.url;
const isEn = pathname.includes("/en");

console.log(isEn);
---

<header
  class="fixed left-0 top-0 z-50 flex w-full justify-center"
  transition:persist
>
  <nav
    class="flex w-full max-w-[1440px] items-center justify-between bg-white/50 px-8 py-4 backdrop-blur-md lg:bg-transparent lg:backdrop-blur-none"
  >
    <div class="flex flex-grow basis-0">
      <a href="/"><Isotype class="w-8 text-garden-700" /></a>
    </div>

    <ul
      class="hidden items-center rounded-full border border-smoke-100 bg-smoke-50/90 p-2 shadow-lg backdrop-blur lg:flex"
    >
      <li class="flex">
        <a
          href="/"
          class="w-full rounded-full px-8 py-1 text-center text-lg font-medium transition-all hover:bg-garden-600 hover:text-smoke-50"
        >
          Inicio
        </a>
      </li>

      <li class="flex">
        <a
          href="/#servicios"
          class="w-full rounded-full px-8 py-1 text-center text-lg font-medium transition-all hover:bg-garden-600 hover:text-smoke-50"
        >
          Servicios
        </a>
      </li>

      <li class="flex">
        <a
          href="/blog"
          class="w-full rounded-full px-8 py-1 text-center text-lg font-medium transition-all hover:bg-garden-600 hover:text-smoke-50"
        >
          Blog
        </a>
      </li>

      <li class="flex">
        <a
          href="/contacto"
          class="w-full rounded-full px-8 py-1 text-center text-lg font-medium transition-all hover:bg-garden-600 hover:text-smoke-50"
        >
          Contacto
        </a>
      </li>
    </ul>

    <div class="flex flex-grow basis-0 justify-end">
      <a
        href={isEn ? "/" : "/en"}
        class="rounded-full bg-garden-600 px-6 py-2 font-medium text-smoke-50 shadow-lg transition-transform hover:scale-110"
      >
        {isEn ? "ES" : "EN"}
      </a>
    </div>
  </nav>
</header>
