---
import Isotype from "@/assets/Isotype.astro";
---

<header
  class="fixed left-0 top-0 z-50 flex w-full justify-center"
  transition:persist
>
  <nav class="flex w-full max-w-7xl items-center justify-between p-2">
    <div class="flex flex-grow basis-0">
      <a href="/"><Isotype class="text-garden-600 w-10" /></a>
    </div>

    <ul class="flex">
      <li>
        <a
          href="/"
          class="hover:text-garden-600 w-full px-8 py-2 text-center text-lg font-medium transition-colors"
        >
          Inicio
        </a>
      </li>

      <li>
        <a
          href="/servicios"
          class="hover:text-garden-600 w-full px-8 py-2 text-center text-lg font-medium transition-colors"
        >
          Servicios
        </a>
      </li>

      <li>
        <a
          href="/proyectos"
          class="hover:text-garden-600 w-full px-8 py-2 text-center text-lg font-medium transition-colors"
        >
          Proyectos
        </a>
      </li>

      <li>
        <a
          href="/contacto"
          class="hover:text-garden-600 w-full px-8 py-2 text-center text-lg font-medium transition-colors"
        >
          Contacto
        </a>
      </li>
    </ul>

    <div class="flex flex-grow basis-0 justify-end">
      <button
        class="border-smoke-950 rounded-full border-2 px-6 py-2 font-medium"
      >
        Idioma | ES
      </button>
    </div>
  </nav>
</header>
