<div class="absolute inset-0 -z-10">
  <video
    src="/bg.mp4"
    playsinline
    autoplay
    muted
    loop
    class="size-full object-cover"></video>

  <span
    class="absolute inset-0 bg-gradient-to-t from-smoke-50 from-35% to-transparent"
  ></span>
</div>
