<section
  class="flex w-full max-w-7xl flex-col items-start justify-center gap-6 lg:items-center px-4 lg:px-0"
>
  <a href="/paisajismo-y-construccion-de-jardines" class="w-full">
    <article
      class={`
      relative
        flex aspect-[21/9] w-full flex-col items-center justify-center gap-6 rounded-2xl
        bg-black bg-[url(/paisajismo.jpg)] bg-cover bg-center bg-no-repeat p-8 bg-blend-screen shadow-2xl shadow-black/40
        before:absolute before:inset-0 before:bg-black/40 overflow-clip
      `}
    >
      <h2
        class="z-10 max-w-3xl text-center text-2xl font-semibold text-white lg:text-5xl"
      >
        También ofrecemos servicios de <strong class="text-garden-300 font-semibold">paisajismo</strong> y construcción de jardines.
      </h2>
      <p class="z-10 max-w-4xl text-center text-lg font-medium text-white">
        Ofrecemos servicios de paisajismo y construcción de jardines a medida,
        diseñados para reflejar tus gustos y sacar el máximo provecho de tu
        espacio exterior. Nos encargamos de todo el proceso, desde la
        planificación y el diseño hasta la ejecución, asegurando un resultado
        impecable, funcional y en armonía con el entorno.
      </p>
    </article>
  </a>
</section>
