---
import Marquee from "@/components/Marquee.astro";
import posts from "@/lib/posts.json";
---

<section class="mt-24 w-full lg:mt-48">
  <div class="mx-auto mb-14 flex w-full max-w-7xl items-center justify-between">
    <h2 class="font-serif text-5xl font-[350] text-garden-600 lg:text-6xl">
      Últimos proyectos realizados
    </h2>

    <a
      href="https://www.instagram.com/jardinerialamediterrania"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center justify-between rounded-full bg-garden-500 px-4 py-2 text-lg text-white transition-all lg:justify-center lg:text-center lg:hover:scale-110"
    >
      Más proyectos en Instagram
    </a>
  </div>

  <Marquee items={posts} />
</section>
