---
import { reviews } from "@/lib/reviews";
---

<section
  class="mt-16 flex w-full flex-col items-center bg-garden-600 py-12 text-smoke-50 lg:mt-48 lg:py-32"
>
  <h2 class="px-4 text-center font-serif text-3xl font-[350] text-garden-100">
    Lo que opinan nuestros clientes
  </h2>

  <div class="mt-12 flex w-full flex-col items-center justify-center">
    <ul id="reviews" class="flex w-full snap-x snap-mandatory overflow-x-auto">
      {
        reviews.map(({ user, review }) => (
          <li class="flex w-full shrink-0 snap-center flex-col items-center justify-center gap-4 px-4">
            <span>{user}</span>
            <h3 class="w-full max-w-4xl text-center text-xl font-semibold lg:text-3xl">
              {review}
            </h3>
          </li>
        ))
      }
    </ul>

    <a
      href="  https://www.google.com/search?q=Jardineria%20La%20Mediterr%C3%A0nia%20Rese%C3%B1as&rflfq=1&num=20&stick=H4sIAAAAAAAAAONgkxI2Nje3tLQwMjA1tzAxMTE0MDYx38DI-IpRxSuxKCUzL7UoM1HBJ1HBNzUlsyS1qOjwgjygQFBqcerhjYnFi1iJUgYAkacwtGgAAAA&rldimm=3779982057844410347&tbm=lcl&hl=es&sa=X&ved=0CBsQ9fQKKABqFwoTCIiDxuLPmIoDFQAAAAAdAAAAABAG&biw=1920&bih=965&dpr=1#lkt=LocalPoiReviews"
      target="_blank"
      rel="noopener noreferrer"
      class="mt-10 flex items-center justify-between rounded-full bg-white px-4 py-2 text-lg text-smoke-950 transition-all lg:justify-center lg:text-center lg:hover:scale-110"
    >
      Ver todas las reseñas
    </a>
  </div>
</section>

<style>
  .active {
    @apply opacity-100;
  }

  ul {
    scrollbar-width: none;
  }
</style>

<script>
  function init_reviews() {
    function autoPlay() {
      const reviews = document.querySelector("#reviews");

      if (!reviews) return;

      if (reviews.scrollLeft >= reviews.scrollWidth - reviews.clientWidth) {
        reviews.scrollTo({
          left: 0,
          behavior: "instant",
        });
      } else {
        reviews.scrollBy({
          left: 100,
          behavior: "smooth",
        });
      }
    }

    autoPlay();
    setInterval(autoPlay, 5000);
  }

  init_reviews();
  document.addEventListener("astro:after-swap", init_reviews);
</script>
