<section class="bg-garden-600 text-smoke-50 mt-48 w-full flex justify-center">
  <div class="py-32 flex w-full max-w-6xl flex-col items-center justify-center">
    <h2 class="max-w-4xl text-center text-3xl font-semibold">
      Lorem ipsum dolor sit amet consectetur. Et semper nibh potenti sed
      volutpat risus ultricies nulla. Aliquam bibendum tincidunt suspendisse
      sed. Elementum et turpis non sit viverra. Amet bibendum auctor facilisis
      quis cursus neque.
    </h2>

    <nav class="mt-12 flex items-center justify-center gap-2">
      <button class="size-2 rounded-full bg-smoke-50"></button>
      <button class="size-2 rounded-full bg-smoke-50"></button>
      <button class="size-2 rounded-full bg-smoke-50"></button>
    </nav>
  </div>
</section>
