<section
  class="mt-48 flex w-full max-w-6xl flex-col items-center justify-center"
>
  <h2 class="max-w-4xl text-center text-3xl font-semibold">
    Lorem ipsum dolor sit amet consectetur. Et semper nibh potenti sed volutpat
    risus ultricies nulla. Aliquam bibendum tincidunt suspendisse sed. Elementum
    et turpis non sit viverra. Amet bibendum auctor facilisis quis cursus neque.
  </h2>

  <nav class="mt-12 flex items-center justify-center gap-2">
    <button class="size-2 rounded-full bg-smoke-950"></button>
    <button class="size-2 rounded-full bg-smoke-950"></button>
    <button class="size-2 rounded-full bg-smoke-950"></button>
  </nav>

  <picture class="mt-36 w-full">
    <img
      src="/garden-3.jpg"
      alt="Jardin cesped"
      class="w-full rounded-2xl shadow-2xl shadow-black/40"
    />
  </picture>
</section>
