---
import { tips } from "@/lib/tips";
const randomTip = tips[Math.floor(Math.random() * tips.length)];
---

<section
  class="mt-24 flex w-full max-w-6xl flex-col items-start lg:items-center justify-center gap-6 px-4 lg:mt-48"
>
  <span class="rounded-full bg-garden-300 px-4 py-2 font-medium"
    >💡 Tip de jardineria</span
  >

  <h2 class="max-w-4xl text-2xl font-semibold lg:text-center lg:text-3xl">
    {randomTip}
  </h2>
</section>
