---
import Logotype from "@/assets/Logotype.astro";
---

<section class="mt-48 flex w-full max-w-7xl flex-col items-center px-4">
  <Logotype class="h-12 lg:h-16" />
  <h1
    class="mt-8 text-center font-serif text-6xl font-[350] text-garden-600 lg:text-7xl"
  >
    <span class="text-3xl text-garden-800">Jardineros en Sitges</span>
    <br />
    Tu solución profesional para el cuidado de tu jardín
  </h1>

  <div class="mt-32 grid grid-cols-2 gap-x-4 gap-y-8 lg:grid-cols-3 lg:gap-8">
    <img
      src="/garden-1.jpg"
      alt="Jardin piedras"
      class="aspect-[3/4] w-full rounded-xl object-cover shadow-2xl shadow-black/40"
    />
    <img
      src="/garden-2.jpg"
      alt="Jardin arbol"
      class="aspect-[3/4] w-full rounded-xl object-cover shadow-2xl shadow-black/40"
    />

    <div class="col-span-2 flex flex-col items-start justify-center gap-8 lg:col-span-1">
      <p class="text-lg font-medium">
        Jardinería La Mediterrània, tus jardineros en Sitges, Vilafranca, Ribes,
        Cunit y alrededores. Confía en nosotros para cuidar tu jardín con el
        mismo cariño y dedicación que hemos heredado generación tras generación.
      </p>

      <p class="text-lg font-medium">
        Nuestro legado comenzó en los campos de Valencia, donde nuestro abuelo
        cultivaba con dedicación y respeto por la tierra. Hoy, combinamos su
        sabiduría y las técnicas tradicionales con innovaciones para ofrecer un
        servicio integral y adaptado a cada cliente en Garraf, Penedès y
        Barcelona.
      </p>

      <a
        href="#servicios"
        class="rounded-full border-2 border-smoke-950 px-6 py-2 font-semibold transition-transform hover:scale-110"
      >
        Servicios de jardinería
      </a>
    </div>
  </div>
</section>
