---
import Logotype from "@/assets/Logotype.astro";
---

<section
  class="mt-48 flex min-h-screen w-full max-w-6xl flex-col items-center justify-center"
>
  <Logotype class="h-16" />
  <h1
    class="mt-8 max-w-3xl text-center font-serif text-8xl font-[350] text-garden-600"
  >
    El mejor jardín es el que cuidas
  </h1>

  <div class="mt-32 grid grid-cols-3 gap-8">
    <img
      src="/garden-1.jpg"
      alt="Jardin piedras"
      class="aspect-[3/4] w-full rounded-xl object-cover shadow-2xl shadow-black/40"
    />
    <img
      src="/garden-2.jpg"
      alt="Jardin arbol"
      class="aspect-[3/4] w-full rounded-xl object-cover shadow-2xl shadow-black/40"
    />

    <div class="flex flex-col items-start gap-8">
      <p class="text-xl font-medium">
        Lorem ipsum dolor sit amet consectetur. Et semper nibh potenti sed
        volutpat risus ultricies nulla. Aliquam bibendum tincidunt suspendisse
        sed. Elementum et turpis non sit viverra. Amet bibendum auctor facilisis
        quis cursus neque.
      </p>

      <a
        href="#servicios"
        class="rounded-full border-2 border-smoke-950 px-6 py-2 font-semibold transition-transform hover:scale-110"
        >Ver servicios</a
      >
    </div>
  </div>
</section>
